# Environment variables
.env
.env.local

# Virtual environment
venv/
.venv/

# Ignore the root data folder
/data/

# But don't ignore the src/data folder
!/src/data/

# Python cache files
__pycache__/

# TODO
docs/TODO.md

# DS Store
.DS_Store
*/.DS_Store
**/.DS_Store
